.collage-container {
    display: flex;
    flex: 1;
}

.canvas-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-selector {
    border: 1px solid black;
}

.advanced-box {
    border: 1px solid black;
    display: none;
}

.custom {
    display: none;
}